.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 3px;
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: white;
  }

  nav a:hover {
    color: #039be5;
    background-color: transparent;
  }
  nav a.active {
    color: #039be5;
  }
  
  a {
    text-decoration: none;
  }

.mat-button {
  font-size: 20px;
  padding: 0px;
  text-decoration: none;
  margin-top: 3px;
  display: inline-block;
  background-color: transparent;
}